page-home {
    .swiper-pagination {
    }
    .swiper-pagination-bullet-active{
        background-color: #FFF;
    }
    .posts{
        margin-top: 20px;
    }
    .title{
        color: #402420;
        margin-left: 16px;
    }
}
